   h1{
     color: blue;
     backgraound-color: yellow;

   }

h2{
  color:red;
  backgraound-color:gray;

}


h3{
  color:yellow;
  backgraound-color:brown;

}

p{

  color:gray;
  backgraound-color :magenta;

}
